body {
    line-height: 150%;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ddd;
    text-align: center;
    font-family: 'Noto Sans', sans-serif, 'Roboto', sans-serif;
    font-size: 1.2em;
    min-height: 100vh;
    
    font-size: 1.2em;
    text-align: center;
}
h1{
    color: #ff6a84;
    
    font-weight: bold;
    text-shadow: 5px 5px 4px #E7A5BA;

}
.rowStatistic{
    color: #ff6a84;
    font-size: 1.3em;
    padding: 20px;
    margin: 20px auto;
}
#computerNumber{
    font-size: 1.4em;
    color: #89d7e0
}
#totalScore, #winORlost, #win, #lost, {
    color: #ff6a84;
}
.gameTitle {
    padding:10px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.gameRules {
    background-color: gray;
    font-size: 0.8em;
    opacity: 0.8;
    color: whitesmoke;
    padding: 15px 1px;
    margin: 1% 5% 1% 6%;
    border-radius: 5px;
    border: solid 1px #E7A5BA;
    padding: 5px;
    margin: 20px 50px;;
}
    /*footer*/
    
    #footernav {
        background-color: #666666;
        color: lightgray;
        font-size: 0.7em;
        text-align: center;
        padding: 5px;
        margin: 0 auto;
    }
    
    #footernav a:link,
    a:visited {
        color: lightgray;
    }
    
    .copy {
        padding: 5px;
    }
    
    .social {
        padding: 5px;
        margin: 0 auto;
    }
    
     
    
.crystalsPanel{
    display: flex;
    justify-content: space-between;
}

.crystal{
    width: 150px;
    height: 150px;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, transform 2s;
    

    
}
.crystal:hover{
	
	
    cursor: pointer;
    width: 170px;
    height: 170px;
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);
	


}

/*footer*/


#footernav {
    background-color: #666666;
    color: lightgray;
    font-size: 0.7em;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
}

#footernav a:link,
a:visited {
    color: lightgray;
}

.copy {
    padding: 5px;
}

.social {
    padding: 5px;
    margin: 0 auto;
}

@media (max-width: 375px) {
    h1{
        font-size: 1.2em;
    }
    .crystal{
        width: 50px;
        height: 50px;
    }
    #totalScore {
        background-color: #89d7e0;
        padding: 2px;
        border:solid 1px #ff6a84;
        border-radius: 3px;
    }
    .headerTitle {
        font-size: 0.5em;
    }
    .gameRules {
        background-color: gray;
        font-size: 0.8em;
        opacity: 0.8;
        color: whitesmoke;
        padding: 15px 1px;
        margin: 1% 5% 1% 6%;
        border-radius: 5px;
        border: solid 1px #E7A5BA;
        padding: 5px;
        margin: 10px 5px;;
    }
    #clear {
        margin: 30px;
    }
    
    #footernav {
        display: none;
    }
    .crystal{
        width: 70px;
        height: 70px;
        -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
        transition: width 2s, height 2s, transform 2s;
        
        
    }
    .btn-raised{
        border: solid 1px white;
        background-color: #89d7e0; 
    }
    .crystal:hover{
        
        
        cursor: pointer;
        width: 90px;
        height: 90px;
        -webkit-transform: rotate(180deg); /* Safari */
        transform: rotate(180deg);




}
