body {
    line-height: 150%;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ddd;
    text-align: center;
    font-family: 'Noto Sans', sans-serif, 'Roboto', sans-serif;
    font-size: 1.2em;
    min-height: 100vh;
    /* min-width: 100%; */
    font-size: 1.2em;
    text-align: center;
}

    /*footer*/
    
    #footernav {
        background-color: #666666;
        color: lightgray;
        font-size: 0.7em;
        text-align: center;
        padding: 5px;
        margin: 0 auto;
    }
    
    #footernav a:link,
    a:visited {
        color: lightgray;
    }
    
    .copy {
        padding: 5px;
    }
    
    .social {
        padding: 5px;
        margin: 0 auto;
    }
    
    @media (max-width: 375px) {
        .statistic {
            font-size: 0.8em;
            opacity: 0.8;
            padding: 15px 1px;
            margin: 1% 5% 1% 6%;
        }
        .headerTitle {
            font-size: 0.5em;
        }
        #clear {
            margin: 30px;
        }
        #word {
            font-size: 1em;
        }
        #gameWord {
            font-size: 1.2em;
        }
        .liActive,
        .liDisabled,
        .liSelected {
            width: 22px;
            height: 22px;
            line-height: 20px;
            margin: 4px;
        }
        .keyboard {
            margin: 15px;
        }
        .keyboard .keyboard-body {
            padding: 12px 0px 0px 12px;
        }
        #footernav {
            display: none;
        }
    }

    .game {
        width: 100vw;
        height: 100vh;
        background-color: black;
        opacity: 0.7;
    }

    
    
.crystalsPanel{
    display: flex;
    justify-content: content-center;
}

.crystal{
    width: 150px;
    height: 150px;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, transform 2s;
    

    
}
.crystal:hover{
	
	
    cursor: pointer;
    width: 170px;
    height: 170px;
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);
	


}

/*footer*/


#footernav {
    background-color: #666666;
    color: lightgray;
    font-size: 0.7em;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
}

#footernav a:link,
a:visited {
    color: lightgray;
}

.copy {
    padding: 5px;
}

.social {
    padding: 5px;
    margin: 0 auto;
}

@media (max-width: 375px) {
    .statistic {
        font-size: 0.8em;
        opacity: 0.8;
        padding: 15px 1px;
        margin: 1% 5% 1% 6%;
    }
    .crystal{
        width: 50px;
        height: 50px;
    }
    .headerTitle {
        font-size: 0.5em;
    }
    #clear {
        margin: 30px;
    }
    #word {
        font-size: 1em;
    }
    #gameWord {
        font-size: 1.2em;
    }
    .liActive,
    .liDisabled,
    .liSelected {
        width: 22px;
        height: 22px;
        line-height: 20px;
        margin: 4px;
    }
    .keyboard {
        margin: 15px;
    }
    .keyboard .keyboard-body {
        padding: 12px 0px 0px 12px;
    }
    #footernav {
        display: none;
    }
}